<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082390053119-351sbch7hecptf60utl37fl9gbljm363.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082390053119-351sbch7hecptf60utl37fl9gbljm363</string>
	<key>API_KEY</key>
	<string>AIzaSyDQbpCnW3pzH4Y5Hy5mvODQ0AlF6SXtUKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1082390053119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-3eac5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-3eac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082390053119:ios:07ebf1235435f60f3e4cca</string>
</dict>
</plist>